<header id="header">
  <div id="logo">
    <div id="logo_text">
      <h1>
        <a href="/">movies<span class="logo_colour">blues</span></a>
      </h1>
      <h2>Manage your movies.</h2>
    </div>
  </div>
  <div id="menubar">
    <ul id="menu">
      <li class="selected"><a href="/">Home</a></li>
      <li><a href="#">Examples</a></li>
      <li><a href="/about">About</a></li>

      <li><a href="#">A Page</a></li>
      <li><a href="#">Another Page</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</header>
