<h1>Welcome to the Movies Blues - Your Ultimate Movie Management App!</h1>
<p>
  Discover the world of cinema like never before with Movies Blues. Manage,
  organize, and explore your favorite films with ease. Whether you're a casual
  viewer or a movie enthusiast, Movies Blues is designed to simplify your movie
  experience.
</p>

<ul>
  <li>
    <b>Browse the Collection:</b> View a comprehensive list of movies in your
    database, complete with details like genres, directors, and release dates.
  </li>
  <li>
    <b>Add New Movies:</b> Keep your collection fresh by adding the latest
    titles to your personal library.
  </li>
  <li>
    <b>Search & Filter:</b> Easily find movies based on your preferences, from
    classics to the newest blockbusters.
  </li>
  <li>
    <b>Manage Directors & Genres:</b> Keep track of your favorite directors and
    genres in a user-friendly interface.
  </li>
</ul>

<p>Take control of your movie collection today with Movies Blues!</p>
<p>
  This template is a fully functional 5 page website, with an
  <a href="examples.html">examples</a> page that gives examples of all the
  styles available with this design.
</p>
